body{
    font-family: sans-serif;
    background-color: aliceblue;
    color: black;
}

li{
    animation: fadeIn 1s linear;
}

h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    font-style: italic;
}

.bg-header{
    background-color: #001632;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

